{{- with artifacts}}
## {{t "artifacts.title"}}

{{range .}}- {{with .Label}}**{{.}}** {{end}}`{{.Address}}`{{with .Ports}} — {{t "artifacts.ports"}} {{range $i, $p := .}}{{if $i}}, {{end}}`{{$p}}`{{end}}{{end}}{{with .Summary}} — {{.}}{{end}}
{{end -}}
{{- end}}
