{{- with featureDoc}}
## {{.Label}}

{{range .Headings}}- {{.}}
{{end}}
{{- range .Inherited}}

### {{.Heading}}

{{range .Items}}- {{.}}
{{end}}
{{- end}}

{{printf (t "features.body") .Name .Filename}}
{{- if .Untranslated}}

{{t "features.untranslated"}}
{{- end}}
{{end -}}
