{{- with featureDoc}}
## {{.Label}}

{{range .Headings}}- {{.}}
{{end}}
{{if .Parents}}{{printf (t "features.inherited") .Parents .Name .Filename}}{{else}}{{printf (t "features.body") .Name .Filename}}{{end}}
{{- if .Untranslated}}

{{t "features.untranslated"}}
{{- end}}
{{end -}}
