{{- with readmeSection "installation"}}
## {{.Title}}
{{- range $g := .Groups}}
{{- with $g.Prefix}}

{{.}}
{{- end}}
{{- if $g.Subgroups}}
{{- range $sg := $g.Subgroups}}

### {{t "installation.sink"}} {{$sg.Label}}

```{{$g.Syntax}}
{{range $sg.Commands}}{{.}}
{{end -}}
```
{{- end}}
{{- else if $g.Commands}}

```{{$g.Syntax}}
{{range $g.Commands}}{{.}}
{{end -}}
```
{{- end}}
{{- with $g.Postfix}}

{{.}}
{{- end}}
{{- end}}
{{- else}}
{{- with docLink "INSTALL.md" (t "installation.title")}}
## {{.Label}}

{{printf (t "installation.body") .Name .Filename}}
{{- end}}
{{- end}}
