{{- with license}}
## {{t "license.title"}}

{{if upstream}}{{printf (t "license.body.upstream") .}}{{range upstream}} {{if .License}}{{printf (t "upstream.license") .Name .License}}{{else}}{{printf (t "upstream.license.own") .Name}}{{end}}{{end}}{{else}}{{printf (t "license.body") .}}{{end}}
{{end}}
