{{- with readmeSection "usage"}}
## {{.Title}}
{{- range $g := .Groups}}
{{- with $g.Prefix}}

{{.}}
{{- end}}
{{- with $g.Commands}}

```{{$g.Syntax}}
{{range .}}{{.}}
{{end -}}
```
{{- end}}
{{- with $g.Postfix}}

{{.}}
{{- end}}
{{- end}}
{{- else}}
{{- with docLink "USAGE.md" (t "usage.title")}}
## {{.Label}}

{{printf (t "usage.body") .Filename}}
{{- end}}
{{- end}}
