{{- with readmeSection "usage"}}
## {{.Title}}
{{- range $g := .Groups}}
{{- with $g.Prefix}}

{{.}}
{{- end}}
{{- if $g.Subgroups}}
{{- range $sg := $g.Subgroups}}

### {{t "sink.from"}} {{$sg.Label}}

```{{$g.Syntax}}
{{range $sg.Commands}}{{.}}
{{end -}}
```
{{- end}}
{{- else if $g.Commands}}

```{{$g.Syntax}}
{{range $g.Commands}}{{.}}
{{end -}}
```
{{- end}}
{{- with $g.Postfix}}

{{.}}
{{- end}}
{{- end}}
{{- else}}
{{- with docLink "USAGE.md" (t "usage.title")}}
## {{.Label}}

{{printf (t "usage.body") .Name .Filename}}
{{- end}}
{{- end}}
