{{- with readmeSection "usage"}}
## {{.Title}}
{{- range $g := .Groups}}
{{- with $g.Prefix}}

{{.}}
{{- end}}
{{- if and $g.Variants (gt (len $g.Commands) 1)}}

```{{$g.Syntax}}
{{index $g.Commands 0}}
```

{{t (printf "%s.variants" "usage")}} {{$g.Variants}}

```{{$g.Syntax}}
{{range $i, $c := $g.Commands}}{{if $i}}{{.}}
{{end}}{{end -}}
```
{{- else if $g.Commands}}

```{{$g.Syntax}}
{{range $g.Commands}}{{.}}
{{end -}}
```
{{- end}}
{{- with $g.Postfix}}

{{.}}
{{- end}}
{{- end}}
{{- else}}
{{- with docLink "USAGE.md" (t "usage.title")}}
## {{.Label}}

{{printf (t "usage.body") .Name .Filename}}
{{- end}}
{{- end}}
