{{- .REUSEHeader -}}
# {{.Title}}
{{- if .HasProject}}
{{- if not .Flat}}

{{.ProjectHeading}}
{{- end}}

{{range .ProjectFragments}}{{.Body}}

{{end}}{{end -}}
{{- range .Inherited}}

{{.Heading}}

{{.Body}}

{{end -}}
